body {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
}

.student {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

